@import "common";

.ContactForm {
  &__form {
    display: flex;
    flex-flow: column;
    font-weight: 300;

    @media screen and (min-width: 768px) {
      flex-flow: row wrap;
      justify-content: space-between;
      margin: 0 -#{$common-18px};
    }

    &-label {
      margin: 0 0 $common-24px;

      @media screen and (min-width: 768px) {
        flex: 1 0 auto;
        margin: 0 $common-18px $common-24px;
        width: calc(50% - #{$common-36px});
      }
    }

    &-input::placeholder,
    &-text::placeholder {
      color: $common-color-kobi;
      font-weight: 300;
    }

    &-input {
      border: 1px solid $common-color-prelude;
      display: block;
      font-family: $common-font-body;
      font-weight: 400;
      margin: $common-6px 0 0;
      padding: $common-8px;
      width: 100%;
    }

    &-text {
      border: 1px solid $common-color-prelude;
      display: block;
      font-family: $common-font-body;
      font-weight: 400;
      margin: $common-6px 0 0;
      padding: $common-8px;
      width: 100%;
    }
  }

  &__button {
    background: $common-color-mulled-wine;
    border: 0;
    color: $common-color-alabaster;
    display: inline-block;
    font-family: $common-font-body;
    font-weight: 300;
    padding: $common-12px;
    text-align: center;

    &:hover {
      /* stylelint-disable function-no-unknown */
      background: lighten($common-color-mulled-wine, 15%);
      /* stylelint-enable-line function-no-unknown */
      cursor: pointer;
    }
  }
}
